{% extends "layout/basic.html" %}

{% block content %}
<h2>О сайте</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis finibus augue, id pellentesque nisl dignissim consectetur. Aliquam 
semper turpis dolor, dictum posuere metus rhoncus posuere. Aenean sed nunc dictum, ornare lacus quis, pulvinar justo. Mauris
 varius vitae leo sit amet suscipit. Vivamus ut lectus sem. Aenean hendrerit venenatis arcu vitae interdum. Aliquam tincidunt
  ligula a dapibus mollis. Nunc orci turpis, aliquet vitae facilisis nec, ultricies in risus. Lorem ipsum dolor sit amet, consectetur
   adipiscing elit. Morbi nisl arcu, porta at tortor ac, ullamcorper facilisis ligula. Suspendisse eget tellus a nibh pharetra imperdiet quis vitae nulla. 
   Donec eu luctus mauris.</p>

<p>Fusce consequat nisi vitae convallis vestibulum. Nam maximus ultrices diam, eget porta leo pulvinar vitae. Maecenas placerat est vel diam tincidunt 
dictum. In vitae pulvinar mauris, ut varius augue. Quisque porttitor diam iaculis, egestas enim id, pellentesque ipsum. Nunc dignissim erat vitae 
varius varius. Vestibulum varius ante placerat, auctor erat sed, vulputate neque. Nullam diam tortor, varius sed massa id, fermentum elementum urna. 
Sed rhoncus neque in pharetra egestas. Donec eget neque eu erat scelerisque bibendum. Duis ullamcorper tristique aliquet. Fusce auctor posuere sem, 
eget malesuada sem vehicula sed. Phasellus viverra tincidunt euismod. Aenean in dui neque.</p>

<p>Sed auctor ligula eget enim auctor tristique. Donec lacinia tellus at eros iaculis laoreet. Nullam tincidunt lacus dignissim arcu eleifend tempus. 
Sed malesuada pretium dolor vitae facilisis. Phasellus rutrum iaculis blandit. Sed auctor erat mollis est rhoncus, eget vulputate est mollis. 
Suspendisse nec erat malesuada, auctor mauris ut, condimentum risus. Integer blandit mi urna. Sed faucibus nisl a quam semper, in tempor risus consectetur. 
Curabitur a magna varius odio pulvinar interdum. Suspendisse id purus condimentum, tincidunt erat nec, gravida sem. Nulla suscipit urna est, sed egestas 
felis faucibus at. Nullam molestie nisi massa, ac rutrum nisi pulvinar at.</p>
{% endblock %}