{% extends "layout/basic.html" %}

{% load thumbnail %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
Примеры карточек
{% endblock title %}

{% block header %}
<div class="page-header page-header-other header-filter clear-filter blue-filter" data-parallax="true" style="background-image: url({% static 'img/bg-test.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="title">Во какие карточки</h1>
            </div>
        </div>
    </div>
</div>
{% endblock header %}

{% block content %}
<div class="section section-basic">
    <div class="container">
        <div class="title">
            <h2>Первая, стандартная</h2>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1517303650219-83c8b1788c4c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bd4c162d27ea317ff8c67255e955e3c8&auto=format&fit=crop&w=2691&q=80" rel="nofollow" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="title">
            <h2>Вторая, на данный момент в продакшне</h2>
        </div>
        <ul class="nav nav-pills nav-pills-rose">
            <li class="nav-item"><a class="nav-link active" href="#pill1" data-toggle="tab">Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="#pill2" data-toggle="tab">Settings</a></li>
            <li class="nav-item"><a class="nav-link" href="#pill3" data-toggle="tab">Options</a></li>
        </ul>
        <div class="tab-content tab-space">
            <div class="tab-pane active" id="pill1">

                <div class="blog-card blog-card-blog" style="width: 20rem;">
                    <div class="blog-card-image">
                        <a href="#"> <img class="img" src="https://picsum.photos/id/1084/536/354?grayscale"> </a>
                        <div class="ripple-cont"></div>
                    </div>
                    <div class="blog-table">
                        <h6 class="blog-category blog-text-success"><i class="fas fa-blog"></i> News</h6>
                        <h4 class="blog-card-caption">
                            <a href="#">Lorem Ipsum is simply dummy text of the printing and</a>
                        </h4>
                        <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <div class="ftr">
                            <div class="author">
                                <a href="#"> <img src="https://picsum.photos/id/1005/5760/3840" alt="..." class="avatar img-raised"> <span>Lorem</span> </a>
                            </div>
                            <div class="stats"> <i class="far fa-clock"></i> 10 min </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane" id="pill2">
                Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
                <br><br>Dramatically maintain clicks-and-mortar solutions without functional solutions.
            </div>
            <div class="tab-pane" id="pill3">
                Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.
                <br><br>Dynamically innovate resource-leveling customer service for state of the art customer service.
            </div>
        </div>



        {% if categories %}
        <div class="swiper-container" id="firstLevel">
            <div class="swiper-wrapper">
                {% for category in categories %}
                {% ifchanged category.super_category %}
                <div class="swiper-slide">

                    <!-- <div class="card" style="width: 20rem; cursor: pointer;" type="button" id="{{ category.super_category.name|cut:' ' }}Button">
                         {% if category.super_category.image %}
                         <img class="card-img-top" src="{% thumbnail category.super_category.image 'carousel' %}" alt="Card image cap">
                         {% else %}
                         <img class="card-img-top img-fluid" src="http://placehold.it/800x600/f44242/fff" alt="Card image cap">
                         {% endif %}
                         <div class="card-body">
                             <h4 class="card-title">{{ category.super_category.name }}</h4>
                             <p class="card-text">{{ category.super_category.desc }}</p>
                         </div>
                     </div>-->

                    <div class="blog-card blog-card-blog" style="cursor: pointer;" type="button" id="{{ category.super_category.name|cut:' ' }}Button">
                        <div class="blog-card-image">
                            {% if category.super_category.image %}
                            <img class="img" src="{% thumbnail category.super_category.image 'carousel' %}">
                            {% else %}
                            <img class="img" src="http://placehold.it/800x600/f44242/fff" alt="Card image cap">
                            {% endif %}
                        </div>
                        <div class="blog-table">
                            <h4 class="blog-card-caption">
                                {{ category.super_category.name }}
                            </h4>
                            <p class="blog-card-description">{{ category.super_category.desc }}</p>
                        </div>
                    </div>

                </div>
                {% endifchanged %}
                {% endfor %}

            </div>
            <div class="swiper-pagination"></div>
        </div>

        {% for category in categories %}
        {% ifchanged category.super_category %}
        <div class="second-level swiper-container" id="{{ category.super_category.name|cut:' ' }}">
            <div class="swiper-wrapper">
                {% for category_manufacturer in categories %}
                {% if category.super_category.name == category_manufacturer.super_category.name %}
                <div class="swiper-slide">

                    <!--<div class="card" style="width: 20rem; cursor: pointer;" type="button" id="{{ category_manufacturer.name|cut:' ' }}Button">
                        {% if category_manufacturer.image %}
                        <img class="card-img-top img-fluid" src="{{ category_manufacturer.image.url }}" alt="Card image cap">
                        {% else %}
                        <img class="card-img-top img-fluid" src="http://placehold.it/800x600/f44242/fff" alt="Card image cap">
                        {% endif %}
                        <div class="card-body">
                            <h4 class="card-title">{{ category_manufacturer.name }}</h4>
                        </div>
                    </div>-->
                    <div class="blog-card blog-card-blog" style="cursor: pointer;" type="button" id="{{ category_manufacturer.name|cut:' ' }}Button">
                        <div class="blog-card-image">
                            {% if category_manufacturer.image %}
                            <img class="img" src="{% thumbnail category_manufacturer.image 'carousel' %}">
                            {% else %}
                            <img class="img" src="http://placehold.it/800x600/f44242/fff" alt="Card image cap">
                            {% endif %}
                        </div>
                        <div class="blog-table">
                            <h4 class="blog-card-caption">
                                {{ category_manufacturer.name }}
                            </h4>
                            <p class="blog-card-description">{{ category_manufacturer.desc }}</p>
                        </div>
                    </div>

                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>

        </div>
        <div class="second-level" id="{{ category.super_category.name|cut:' ' }}BackButtonDiv">
            <button class="btn btn-blue btn-round" id="{{ category.super_category.name|cut:' ' }}BackButton">Назад</button>
        </div>
        <script>


				    $("#{{ category.super_category.name|cut:' ' }}Button").click(function(){
					                   $("#firstLevel").hide();

                                    $("#{{ category.super_category.name|cut:' ' }}BackButtonDiv").show();
							            $("#{{ category.super_category.name|cut:' ' }}").show();

					                    });
					$("#{{ category.super_category.name|cut:' ' }}BackButton").click(function(){
					                    $("#{{ category.super_category.name|cut:' ' }}").hide(500);
                                        $("#{{ category.super_category.name|cut:' ' }}BackButtonDiv").hide(500);

						                $("#firstLevel").show(500);
					                    });
				</script>
        {% endifchanged %}
        {% endfor %}

        {% for category in categories %}
        {% ifchanged category.super_category %}
        {% for category_manufacturer in categories %}
        {% if category.super_category.name == category_manufacturer.super_category.name %}
        {% if devices %}
        <div class="third-level swiper-container" id="{{ category_manufacturer.name|cut:' ' }}">
            <div class="swiper-wrapper">
                {% for device in devices %}
                {% if category_manufacturer.id == device.category_id %}
                <div class="swiper-slide">

                    <!--<div class="card" style="width: 20rem; cursor: pointer;" type="button" data-toggle="modal" data-target="#device{{ device.id }}">
                        {% if device.image %}
                        <img class="card-img-top img-fluid" src="{{ device.image.url }}" alt="Card image cap">
                        {% else %}
                        <img class="card-img-top img-fluid" src="http://placehold.it/800x600/f44242/fff" alt="Card image cap">
                        {% endif %}
                        <div class="card-body">
                            <h4 class="card-title">{{ device.name }}</h4>
                        </div>
                    </div>-->
                    <div class="blog-card blog-card-blog" style="cursor: pointer;" data-toggle="modal" data-target="#device{{ device.id }}">
                        <div class="blog-card-image">
                            {% if device.image %}
                            <img class="img" src="{% thumbnail device.image 'carousel' %}">
                            {% else %}
                            <img class="img" src="http://placehold.it/800x600/f44242/fff" alt="Card image cap">
                            {% endif %}
                        </div>
                        <div class="blog-table">
                            <h4 class="blog-card-caption">
                                {{ device.name }}
                            </h4>
                            <p class="blog-card-description">{{ device.desc }}</p>
                        </div>
                    </div>

                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="third-level" id="{{ category_manufacturer.name|cut:' ' }}BackButtonDiv">
            <button class="btn btn-blue btn-round" id="{{ category_manufacturer.name|cut:' ' }}BackButton">Назад</button>
        </div>
        <script>
				                $("#{{ category_manufacturer.name|cut:' ' }}Button").click(function(){
                                            $("#{{ category.super_category.name|cut:' ' }}BackButtonDiv").hide();
					                        $("#{{ category.super_category.name|cut:' ' }}").hide();

                                            $("#{{ category_manufacturer.name|cut:' ' }}BackButtonDiv").show();
                                            $("#{{ category_manufacturer.name|cut:' ' }}").show();
					                    });

								$("#{{ category_manufacturer.name|cut:' ' }}BackButton").click(function(){
                                            $("#{{ category_manufacturer.name|cut:' ' }}BackButtonDiv").hide(500);
					                        $("#{{ category_manufacturer.name|cut:' ' }}").hide(500);

                                            $("#{{ category.super_category.name|cut:' ' }}BackButtonDiv").show(500);
                                            $("#{{ category.super_category.name|cut:' ' }}").show(500);
					                    });
				                                </script>

        {% endif %}
        {% endif %}
        {% endfor %}
        {% endifchanged %}
        {% endfor %}

        {% endif %}
    </div>
</div>
{% endblock %}

{% block module_init %}
{% if devices %}
{% for device in devices %}
<div class="modal" id="device{{ device.id }}" tabindex="-1" role="dialog" aria-hidden="true">
    {% include 'main/modal.html' with device_current=device %}
</div>
{% endfor %}
{% endif %}
{% endblock %}