{% extends "layout/basic.html" %}

{% load static %}

{% block title %}
Примеры карточек
{% endblock title %}

{% block header %}
<div class="page-header page-header-other header-filter clear-filter blue-filter" data-parallax="true" style="background-image: url({% static 'img/bg-test.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="title">Во какие карточки</h1>
            </div>
        </div>
    </div>
</div>
{% endblock header %}

{% block content %}
<div class="section section-basic">
    <div class="container">
        <div class="title">
            <h2>Первая, стандартная</h2>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1517303650219-83c8b1788c4c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bd4c162d27ea317ff8c67255e955e3c8&auto=format&fit=crop&w=2691&q=80" rel="nofollow" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="title">
            <h2>Вторая, на данный момент в продакшне</h2>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="blog-card blog-card-blog" style="width: 20rem;">
                    <div class="blog-card-image">
                        <a href="#"> <img class="img" src="https://picsum.photos/id/1084/536/354?grayscale"> </a>
                        <div class="ripple-cont"></div>
                    </div>
                    <div class="blog-table">
                        <h6 class="blog-category blog-text-success"><i class="fas fa-blog"></i> News</h6>
                        <h4 class="blog-card-caption">
                            <a href="#">Lorem Ipsum is simply dummy text of the printing and</a>
                        </h4>
                        <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <div class="ftr">
                            <div class="author">
                                <a href="#"> <img src="https://picsum.photos/id/1005/5760/3840" alt="..." class="avatar img-raised"> <span>Lorem</span> </a>
                            </div>
                            <div class="stats"> <i class="far fa-clock"></i> 10 min </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}