{% extends "layout/basic.html" %}

{% load bootstrap4 %}
{% load static %}

{% block title %}
    Каталог цен
{% endblock title %}

{% block header %}
<div class="page-header page-header-other header-filter clear-filter blue-filter" data-parallax="true" style="background-image: url({% static 'img/bg-test.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="title">Каталог цен</h1>
            </div>
        </div>
    </div>
</div>
{% endblock header %}

{% block content %}
<div class="section">
      <div class="container">
	  <div class="row justify-content-center">
	   <h2 class="title">Каталог цен<br></h2>
	   </div>

{% if categories %}

	  
	            {% for category in categories %}
                    {% ifchanged category.super_category %}
					
                    <details class="spoiler">
                    <summary>
{{ category.super_category.name }}
                    </summary>

                    <div>
	                            {% for category_manufacturer in categories %}
                                    {% if category.super_category.name == category_manufacturer.super_category.name %}
									<details class="spoiler">
									<summary>{{ category_manufacturer.name }}</summary>
                                    <div>
                                    {% if devices %}
                                    {% for device in devices %}
								                    {% if category_manufacturer.id == device.category_id %}

<a href="{% url 'main:detail_device' pk=device.id %}">{{ device.name }}</a>

													{% endif %}
												{% endfor %}
                                    {% endif %}
                                    </div>
								    </details>
       
									{% endif %}
								{% endfor %}
                             </div>
                    </details>
                   
				   {% endifchanged %}
                {% endfor %}

{% endif %}

       </div>
       </div>
    {% endblock %}