{% extends "layout/basic.html" %}

{% load static %}
{% load easy_maps_tags %}

{% block title %}
    Контакты
{% endblock title %}

{% block header %}
<div class="page-header page-header-other header-filter clear-filter blue-filter" data-parallax="true" style="background-image: url({% static 'img/bg-test.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="title">Контакты</h1>
            </div>
        </div>
    </div>
</div>
{% endblock header %}

{% block content %}
<div class="container">
{% if messages %}
    {% for message in messages %}
        {% if message.level == 85 %}
    <div class="alert alert-success">
        <div class="container">
          <div class="alert-icon">
            <i class="material-icons">check</i>
          </div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="material-icons">clear</i></span>
          </button>
          <b>Success Alert:</b> Yuhuuu! You've got your $11.99 album from The Weeknd
        </div>
      </div>
{% elif message.level == 80 %}
      <div class="alert alert-danger">
        <div class="container">
          <div class="alert-icon">
            <i class="material-icons">error_outline</i>
          </div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="material-icons">clear</i></span>
          </button>
          <b>Error Alert:</b> Damn man! You screwed up the server this time. You should find a good excuse for your Boss...
        </div>
      </div>
      {% endif %}
    {% endfor %}
{% endif %}
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="card card-nav-tabs">
                    <h4 class="card-header card-header-info card-title">Напишите нам</h4>
                    <div class="card-body">
                        <form action="{% url 'feedback:feedback_view' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-6 ml-auto mr-auto">
                                    <label for="inputName">Ваше имя*</label>
                                    <input name="name" class="form-control" id="inputName" aria-describedby="emailHelp" placeholder="Введите ваше имя"></input>
                                </div>
                                <div class="form-group col-md-6 ml-auto mr-auto">
                                    <label for="inputPhone">Телефон*</label>
                                    <input name="phone" class="form-control" id="inputPhone" placeholder="Номер телефона"></input>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail">Email</label>
                                <input name="email" class="form-control" id="inputEmail" placeholder="Ваш email"></input>
                            </div> 
                            <div class="form-group">
                                <label for="inputMessage">Ваше сообщение</label>
                                <textarea name="message" class="form-control" id="inputMessage" placeholder="Ваше сообщение" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-info">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ml-auto mr-auto">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Как нас найти</h4>
                        <h6 class="card-subtitle mb-2">Fix My Device</h6>
                        <address><p class="card-text">г. Минск, ул. Сурганова 57Б</p>
                        <p class="card-text mb-4">ТЦ "Европа"</p>
                        <h6 class="card-subtitle mb-2">Время работы</h6></address>
                        <table>
                            <tbody>
                                <tr>
                                    <td>Понедельник-Пятница</td>
                                    <td>10:00 - 19:00</td>
                                </tr>
                                <tr>
                                    <td>Суббота</td>
                                    <td>10:00 - 17:00</td>
                                </tr>
                                <tr>
                                    <td>Воскресенье</td>
                                    <td>Выходной</td>
                                </tr>
                            </tbody>
                        </table>
                        <a class="card-link" rel="tooltip" title=""  href="#" target="_blank" data-original-title="Follow us on Twitter">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                        <a class="card-link" rel="tooltip" title=""  href="#" target="_blank" data-original-title="Like us on Facebook">
                            <i class="fa fa-facebook-square"></i> Facebook
                        </a>
                        <a class="card-link" rel="tooltip" title=""  href="#" target="_blank" data-original-title="Follow us on Instagram">
                            <i class="fa fa-instagram"></i> Instagram
                        </a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
      <div class="container-fluid">
	  <div class="row">
	  <div class="col-xs-12 col-sm-12 col-md-12 mt-12 mt-sm-12 text-center"><h3 class="title">Наше месторасположение</h3></div>
		  </div>
      <div class="row">
	  <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="container">
            <iframe src="https://maps.google.com/maps?q=fix%20my%20device&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=&amp;output=embed" style="border: 0px none; pointer-events: auto;" allowfullscreen="" width="100%" height="450" frameborder="0"></iframe>
            </div>
            </div>
        </div> 
    </div>
</div>
{% endblock %}