{% extends "layout/basic.html" %}

{% load thumbnail %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
<!--<script src="https://code.jquery.com/jquery-3.4.1.js"></script>-->
<div class="section section-carousel">
    <div class="container">
        <div class="container-fluid">
            <h1 class="text-center mb-3 title">Выберите тип устройства</h1>
            {% if categories %}
            <ul class="nav nav-pills nav-pills-blue justify-content-center mt-5" role="tablist">
                {% for category in categories %}
                {% ifchanged category.super_category %}
                <li class="nav-item">
                    <a class="nav-link {% if category == categories|first %}active{% endif %}" data-toggle="tab" href="#{{ category.super_category.name|cut:' ' }}" role="tablist" aria-expanded="true">
                        {{ category.super_category.name }}
                    </a>
                </li>
                {% endifchanged %}
                {% endfor %}
            </ul>
            <hr>
            <div class="tab-content tab-space">

                {% for category in categories %}
                {% ifchanged category.super_category %}
                <div class="tab-pane {% if category == categories|first %}active{% endif %}" id="{{ category.super_category.name|cut:' ' }}" aria-expanded="true">
                    <ul class="nav nav-pills nav-pills-blue justify-content-center" role="tablist">
                        {% for category_manufacturer in categories %}
                        {% if category.super_category.name == category_manufacturer.super_category.name %}
                        <li class="nav-item">
                            <a class="nav-link {% if category_manufacturer.order == -1 %}active{% endif %}" data-toggle="tab" href="#{{ category_manufacturer.name|cut:' ' }}" role="tablist" aria-expanded="true">
                                {{ category_manufacturer.name }}
                            </a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    <div class="tab-content tab-space">

                        {% for category_manufacturer in categories %}
                        {% if category.super_category.name == category_manufacturer.super_category.name %}
                        <div class="tab-pane justify-content-center {% if category_manufacturer.order == -1 %}active{% endif %}" id="{{ category_manufacturer.name|cut:' ' }}" aria-expanded="true">
                            <div class="row">
                                <div class="col-md-12 mx-auto">
                            {% for device in devices %}
                            {% if category_manufacturer.id == device.category_id %}
                            <button type="button" class="btn btn-info btn-round" data-toggle="modal" data-target="#device{{ device.id }}">
                                {{ device.name }}
                            </button>
                            {% endif %}
                            {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>

                </div>
                {% endifchanged %}
                {% endfor %}
            </div>
            {% endif %}

        </div>
</div>
</div>



	<div class="section">
      <div class="container ">
	  <div class="row justify-content-center">
	  <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center">
      <h2 class="title">Выкупим ваше мобильное устройство!</h2>

	  </div>
      </div>
	  </div>
    </div>




	<div class="section section-grey">
      <div class="container">
      <div class="row">
	  
	  <div class="col-xs-12 col-sm-12 col-md-6">
	  <img src="{% static 'img/Layer-1-485x392.png' %}" class="css-adaptive">
	  </div>
	  
	  <div class="col-xs-12 col-sm-12 col-md-6">
	  <h3 class="title">Только качественный и быстрый ремонт</h3>
                                        <h4 class="subheading">Квалифицированные специалисты</h4>
                                        <p>Мы знаем, что ваше устройство важно для вас, поэтому мы стремимся сделать ремонт как можно быстрее.</p>
   <ul>
    <li>Ремонт от 30 минут</li>
    <li>Бесплатная диагностика</li>
    <li>Гарантия 90 дней</li>
    <li>Опытные специалисты</li>
    <li>Расположены в центре Минска</li>
</ul>

<a href="{% url 'main:other' page='about' %}" class="btn btn-round btn-blue" role="button" aria-disabled="true">
  Узнать больше <i class="material-icons">arrow_forward</i>
</a>
	  </div>

	  </div>
      </div>
    </div>
    
	<div class="section">
      <div class="container">
      <div class="row">
	  <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center">
    <h2 class="title">Часто задаваемые вопросы</h2>
	</div>
	</div>
	<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center">
	<h3 class="subheading">Не бойтесь спрашивать!</h3>
	</div>
    </div>
    <div class="row">

		<div class="col-md-6">
			<h4 class="title">Мое устройство не включается</h4>
            <p>Не включенное электронное устройство может быть результатом многих вещей. Чаще всего возникает неисправность материнской платы или аккумулятора. Мы можем диагностировать целый ряд проблем и заменить только то, что необходимо.</p>
		</div>
        <div class="col-md-6">
			<h4 class="title">Что произойдет, если вы не сможете починить моё устройство?</h4>
            <p>Если мы не сможем починить ваше устройство, мы свяжемся с вами, чтобы обсудить ваши варианты. Мы можем предложить вам устройство для замены за дополнительную плату. </p>
		</div>
        <div class="col-md-6">
			<h4 class="title">Мой экран не работает</h4>
            <p>Многие сенсорные экраны не будут работать, если устройство стало жертвой сильного падения или если устройство ранее было «отремонтировано» и подлинный экран не использовался при замене. Все наши запасные части поставляются с 6-месячной гарантией. </p>
		</div>
		
        <div class="col-md-6">
			<h4 class="title">Какова средняя продолжительность ремонта?</h4>
            <p>Мы стараемся отремонтировать ваше устройство в максимально короткие сроки.
Диагностика составляет от 15 до 30 минут. Поэтому среднее время ремонта от 2 часов. </p>
		</div>
		
        <div class="col-md-6">
			<h4 class="title">Уронил телефон в воду</h4>
            <p>Некоторые считают, что положить телефон в чашу с рисом решит все ваши проблемы. Но это не так, и иногда ущерб уже неисправим. </p>
		</div>
		
        <div class="col-md-6">
			<h4 class="title">Могу ли я передать свое устройство через знакомых?</h4>
            <p>Да. Но нам важно сохранять связь с владельцем устройства, чтобы избежать каких либо дальнейших проблем. </p>
		</div>
      </div>
    </div>
</div>

	<div class="section">
      <div class="container">
	  <div class="row">
	  <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center"><h3 class="title">Наше месторасположение</h3></div>
		  </div>
      <div class="row">
	  <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="container">
            <iframe src="https://maps.google.com/maps?q=fix%20my%20device&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=&amp;output=embed" style="border: 0px none; pointer-events: auto;" allowfullscreen="" width="100%" height="450" frameborder="0"></iframe>
            </div>
            </div>
    </div>
</div>
</div>
{% endblock %}


{% block module_init %}
{% if devices %}
{% for device in devices %}
    <div class="modal fade" id="device{{ device.id }}" tabindex="-1" role="dialog" aria-hidden="true">
		{% include 'main/modal.html' with device_current=device %}
	</div>
{% endfor %}
{% endif %}
{% endblock %}